doctype html

!= '<!--\n'
!= '▀▀█ █▀▀ █▀▀█ █▀▀█ █▀▀▄ ▀ █▀▀▄ \n'
!= '▄▀  █▀▀ █▄▄▀ █▄▀█ █▀▀▄ █ █  █ \n'
!= '▀▀▀ ▀▀▀ ▀ ▀▀ █▄▄█ ▀▀▀  ▀ ▀  ▀ \n'
!= 'Thank you for using zer0bin!\n'
!= 'If you\'re reading this message, why not help with development?\n'
!= 'https://github.com/zer0bin-dev/zer0bin'
!= '\n-->\n'

html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title zer0bin
		meta(name='theme-color' content='#90BDC9')
		meta(name='keywords' content='zerobin, zer0bin, paste, paste bin, pastebin, pastebin alternative, foss pastebin, open source pastebin, free pastebin, ghostbin, hastebin, pastebin.com, free pastebin online, paste online, github paste, github gist, github gist paste')
		meta(name='darkreader' content='NO-DARKREADER-PLUGIN')
		meta(name='title' content='zer0bin')
		meta(name='description' content='🖊 Just a place to paste')
		meta(property='og:type' content='website')
		meta(property='og:title' content='zer0bin')
		meta(property='og:description' content='🖊 Just a place to paste')
		meta(property='og:image' content='https://raw.githubusercontent.com/zer0bin-dev/.github/main/zer0bin.png')
		meta(property='twitter:title' content='zer0bin')
		meta(property='twitter:description' content='🖊 Just a place to paste')
		meta(property='twitter:image' content='https://raw.githubusercontent.com/zer0bin-dev/.github/main/zer0bin.png')

	body
		ul.noselect#messages
		.button-wrapper.noselect()
			a.logo.noselect(href='/') zer0bin
			.buttons.noselect
				button#save-button.btn(aria-label='Save')
				button#markdown-button.btn(aria-label='Markdown')
				button#single-view-button.btn(aria-label='Single View')
					//- .fireBody(style='visibility: hidden')
					//- 	- var parts = 20;
					//- 	- while (parts--) {
					//- 		.particle
					//- 	- }
				button#new-button.btn(aria-label='New paste')
				button#copy-button.btn(aria-label='Copy')
				button#share-button.btn(aria-label='Share')
				a(href='https://github.com/zer0bin-dev/zer0bin' aria-label='GitHub repo')
					button#github-button.btn(aria-label='GitHub')
			span.viewcounter.noselect#viewcounter-label(style='visibility: hidden; display: none') Views:&nbsp;
			span.viewcounter.noselect#viewcounter-count(style='visibility: hidden; display: none')

		.bottom-button-wrapper
			button#hide-button.btn(aria-label='Hide')

		.scrollbar-container
			.wrapper
				.line-numbers.noselect
				pre#code-view-pre(style='visibility: hidden')
					code#code-view
				textarea#text-area(spellcheck='false' autofocus='' name='value' aria-label='Paste input area' disabled='' style='visibility: hidden')