body,
html {
    height: 100%;
}

body {
    background-color: #191724;
    margin: 0;
}

pre {
    margin: 0;
}

.wrapper {
    display: flex;
    padding: 1rem 0.5rem;
    font-size: 1rem;
    height: calc(100% - 2rem);
}

.line-numbers {
    color: #908caa;
    font-family: monospace;
    text-align: end;
    user-select: none;
    font-size: 15px;
}

#code-view {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 15px;
}

textarea {
    background-color: transparent;
    resize: none;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-left: 1rem;
    margin: 0;
    border: none;
    outline: 0;
    color: #fff;
    font-size: 15px;
}

.button-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background-color: #1f1d2e;
    z-index: 10;
}

.buttons {
    display: flex;
}

.buttons>*+* {
    margin-left: 0.25rem;
}

.btn {
    cursor: pointer;
    background: 0 0;
    color: #9ccfd8;
    font-size: 1rem;
    border: none;
    transition: background-color 0.2s ease-in-out;
    display: inline-block;
    text-decoration: none;
}

.btn:hover {
    color: #fff;
}

.btn:disabled,
.btn[disabled] {
    color: #6e6a86;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #8fbcc8;
    width: 100%;
    font-family: monospace;
    display: inline-block;
}

.logo:hover {
    color: #fff;
}

#messages {
    position: absolute;
    top: 0;
    right: 168px;
    z-index: 1000;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 400px;
}

#messages li {
    background-color: rgba(31, 29, 46, 0.8);
    font-family: monospace;
    color: #fff;
    padding: 7px;
}