/* fira-mono-regular - latin */
@font-face {
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/fira-mono-v12-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/fira-mono-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-mono-700 - latin */
@font-face {
  font-family: "Fira Mono";
  font-style: bold;
  font-weight: 700;
  src: local(""), url("../fonts/fira-mono-v12-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/fira-mono-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body,
html {
  height: 100%;
}

body {
  background-color: #191724;
  margin: 0;
}

pre {
  margin: 0;
}

.wrapper {
  display: flex;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  height: calc(100% - 2rem);
}

.line-numbers {
  color: #908caa;
  font-family: Fira Mono, monospace;
  text-align: end;
  user-select: none;
  font-size: 15px;
}

#code-view {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 15px;
}

textarea {
  background-color: transparent;
  resize: none;
  width: 100%;
  height: 100%;
  padding: 0;
  padding-left: 1rem;
  margin: 0;
  border: none;
  outline: 0;
  color: #fff;
  font-size: 15px;
}

.button-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
  background-color: #1f1d2e;
  z-index: 10;
}

.buttons {
  display: flex;
}

.buttons > * + * {
  margin-left: 0.25rem;
}

a {
  color: #31748f;
}

a:visited {
  color: #c4a7e7;
}
a:hover {
  color: #9ccfd8;
}

.btn {
  cursor: pointer;
  background: 0 0;
  color: #9ccfd8;
  font-size: 1rem;
  border: none;
  transition: background-color 0.2s ease-in-out;
  display: inline-block;
  text-decoration: none;
}

.btn:hover {
  color: #fff;
}

.btn:disabled,
.btn[disabled] {
  color: #6e6a86;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #8fbcc8;
  width: 100%;
  font-family: Fira Mono, monospace;
  display: inline-block;
  background: linear-gradient(
    to right,
    #eb6f92,
    #c9b065,
    #ebbcba,
    #31748f,
    #9ccfd8,
    #c4a7e7
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow 120s linear infinite;
  background-size: 400% 100%;
}

.logo:hover {
  animation: rainbow 3s ease infinite !important;
}

#messages {
  position: absolute;
  top: 0;
  right: 168px;
  z-index: 1000;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 400px;
}

#messages li {
  background-color: rgba(31, 29, 46, 0.8);
  font-family: Fira Mono, monospace;
  color: #fff;
  padding: 7px;
}

@keyframes rainbow {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

@media only screen and (max-width: 768px) {
  textarea,
  .line-numbers,
  #code-view {
    font-size: 13px !important;
  }
}
