@font-face {
	font-family: "Cartograph CF";
	src: local("../fonts/CartographCF-Regular.woff2") format("woff2"),
		local("../fonts/CartographCF-Regular.woff") format("woff"),
		local("../fonts/CartographCF-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Cartograph CF";
	src: local("../fonts/CartographCF-RegularItalic.woff2") format("woff2"),
		local("../fonts/CartographCF-RegularItalic.woff") format("woff"),
		local("../fonts/CartographCF-RegularItalic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
