@font-face {
	font-family: "Cartograph CF";
	src: url("../fonts/CartographCF-Regular.woff2") format("woff2"),
		url("../fonts/CartographCF-Regular.woff") format("woff"),
		url("../fonts/CartographCF-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Cartograph CF";
	src: url("../fonts/CartographCF-RegularItalic.woff2") format("woff2"),
		url("../fonts/CartographCF-RegularItalic.woff") format("woff"),
		url("../fonts/CartographCF-RegularItalic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
