$text: #e0def4;
$font-mono: "Cartograph CF", ui-monospace, SFMono-Regular, Menlo, Monaco,
	Consolas, "Liberation Mono", "Courier New", monospace;
$bg: #26233a;

@import "./font.scss";
.tippy-box[data-theme~="rosepine"] {
	color: $text;
	background-color: $bg;
	opacity: 0.8;
	margin-top: 30px;
	padding: 10px;
	font-family: $font-mono;
	> .tippy-backdrop {
		background-color: $bg;
	}
	> .tippy-svg-arrow {
		fill: $bg;
	}
}
